.container {
   display: grid;
   grid-template-columns: 0.5fr 1fr 1fr;
   grid-template-rows: 1fr 3fr 2fr 0.5fr 3fr;
   gap: 10px;
   grid-template-areas:
   "logoheader logoheader logoheader"
   "sidebar main main"
   "sidebar box1 box2"
   "border border border"
   "box3 box3 box4"
    "footer footer footer";
}


.container > div:not(.sidebar) {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.sidebar {
  display: block;
  text-align: left;
 
}
.logoheader {
   
    grid-area: logoheader;
    background-color: rgb(219, 194, 218);

}

.sidebar {

    grid-area: sidebar;
    background-color: #e0b65b;
}



.box1 {
  

    grid-area: box1;
    background-color: #a2b4e6;
}

.box2 {

    grid-area: box2;
    background-color: #dab8df;

}


.border {
   
    grid-area: border;
    background-color: lightblue;

}


.main {
   
    grid-area: main;
    background-color: rgb(190, 230, 144);

}

.box3 {
   
    grid-area: box3;
    background-color: lightgreen;

}

.box4 {
   
    grid-area: box4;
    background-color: rgb(104, 180, 170);
}

.footer {
  
   grid-area: footer;
   background-color: lightcoral;
       
}

